<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Panel Animations</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    
    
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc.5/docs.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div class="demo-md-panel-animation md-padding paneldemoPanelAnimations" ng-controller="AnimationCtrl as ctrl" ng-app="MyApp">
  <h2>Animations</h2>
  <div layout="row">
    <div flex="33">
      OpenFrom:
      <md-radio-group ng-model="ctrl.openFrom">
        <md-radio-button value="button">Button</md-radio-button>
        <md-radio-button value="corner">Top/Left Corner</md-radio-button>
        <md-radio-button value="bottom">Bottom Center</md-radio-button>
      </md-radio-group>
    </div>

    <div flex="33">
      CloseTo:
      <md-radio-group ng-model="ctrl.closeTo">
        <md-radio-button value="button">Button</md-radio-button>
        <md-radio-button value="corner">Top/Left Corner</md-radio-button>
        <md-radio-button value="bottom">Bottom Center</md-radio-button>
      </md-radio-group>
    </div>

    <div flex="33">
      AnimationType:
      <md-radio-group ng-model="ctrl.animationType">
        <md-radio-button value="none">None</md-radio-button>
        <md-radio-button value="slide">Slide</md-radio-button>
        <md-radio-button value="scale">Scale</md-radio-button>
        <md-radio-button value="fade">Fade</md-radio-button>
        <md-radio-button value="custom">Custom</md-radio-button>
      </md-radio-group>
    </div>
  </div>

  <div class="demo-md-panel-content">
    <md-button class="animation-target md-primary md-raised" ng-click="ctrl.showDialog($event)">
      Dialog
    </md-button>
  </div>
<script type="text/ng-template" id="panel.tmpl.html"><div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Surprise!</h2>
    </div>
  </md-toolbar>

  <div class="demo-dialog-content">
    <p>
      You hit the secret button. Here's a donut:
    </p>

    <div layout="row" >
      <img flex alt="Delicious donut" src="img/donut.jpg">
    </div>
  </div>

  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()">
      Close
    </md-button>
  </div>
</div>
</script></div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
